<head>
    <title>André·e Lawrance - Shop</title>
    <link rel="stylesheet" href="{{ "css/header.css" | relURL}}">
    <link rel="stylesheet" href="{{ "css/styles.css" | relURL}}">
    <link rel="stylesheet" href="{{ "css/shop.css" | relURL}}">

    {{ block "shader-script" . }}{{ end }}
</head>
<body>
    <div class="shader-background">
        <canvas id="shader-web-background"></canvas>
    </div>

    <main class="container">
        <div class="fixed-content">
            {{ partial "header.html" . }}

            {{ partial "sidebar.html" . }}
        </div>

        {{ partial "product.html" . }}
    </main>
    
    {{ partial "footer.html" . }}
</body>