.looks-container {
    display: flex;
    width: 100%;
    margin: 5rem auto;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1;
}

.photos-container {
    margin: 1rem;
}

.photo-container {
    width: 600px;
    margin-bottom: 2rem;
}

.photo-container img {
    width: 100%;
    object-fit: cover;
    max-height: 400px;
}

@media screen and (max-width: 600px) {
    .photo-container {
        width: 100% !important;
        margin-bottom: 1rem !important;
    }
}