* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial Bold, Helvetica, sans-serif;
}

main {
    border: 1px solid red;
    display: flex;
    flex-wrap: nowrap;
}