* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial Bold, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    min-height: 100vh;
    background-color: black;
    color: white;
    letter-spacing: 0.2px;
}

.shader-background {
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

main {
    position: relative;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 10px;
    color: white;
}

.container {
    flex: 1;
}

.sidebar-container {
    position: relative;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li { 
    margin-bottom: 10px;
}

.sidebar ul a {
    text-decoration: none;
}

.sidebar ul a:hover {
    text-decoration: underline;
}

.sidebar ul a, .sidebar ul a:hover, .sidebar ul a:visited {
    color: white;
}

.fixed-content {
    position: fixed;
    z-index: 10;
}

.footer-container {
    color: white;
    padding: 10px;
    box-sizing: border-box;
    text-align: right;
}

.contact-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.contact-container a:hover, .looks-container a.link:hover {
    text-decoration: underline;
}

#shopify-id {
    position: absolute;
    pointer-events: none;
    opacity: 0;
}

.hidden {
    display: none;
}

@media screen and (max-width: 600px) {
    .sidebar ul {
        display: flex;
    }

    .sidebar ul li {
        margin-right: 10px;
    }
}