<div class="product-page-container">
    {{ $products := getJSON "/data/products.json" }}

    {{ range where $products "name" .Title}}
        <div class="product-page-item">
            <div class="product-page-images">
                {{ $productImages := .imagesUrls }}

                {{ range $productImages}}
                    <img src="{{.src}}">
                {{ end }}
            </div>
            <div class="product-page-description">
                <div class="product-page-description-content">
                    <div class="product-page-header">
                        <h2 class="product-page-title">
                            {{ .name }}
                        </h2>
                        <div class="product-page-price">{{.price}} €</div>
                    </div>
                    {{ $productDescription := .descriptionParagraphs }}

                    {{ range $productDescription}}
                        <p class="product-page-paragraph">{{.text}}</p>
                    {{ end }}
                </div>
            </div>
        </div>
    {{ end }}
</div>